<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goRegistro()" fill="clear" color="primary">
        <ion-icon slot="icon-only" name="person-add" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scrollY="false">

    <figure class="profile-default-image ion-text-center">
      <h1>Inicar Sesión</h1>
      <img src="/assets/img/user3.png" alt="">
    </figure>

    <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
      <ion-item>
        <ion-input label="Correo" type="email" labelPlacement="floating" formControlName="email"></ion-input>
      </ion-item>
      <ion-note color="danger" class="error-note"
        *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty )">
        {{ getEmailError() }}
      </ion-note>

      <ion-item>
        <ion-input label="Contraseña" type="password" labelPlacement="floating" formControlName="password"></ion-input>
      </ion-item>
      <ion-note color="danger" class="error-note"
        *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty )">
        {{ getPasswordError() }}
      </ion-note>
      <div class="ion-text-center ion-margin-top">
        <ion-button shape="round" class="login-button" type="submit" [disabled]="loginForm.invalid">Iniciar
          sesión</ion-button>
      </div>
    </form>
    <p class="danger">{{ errorMessage }}</p>
</ion-content>