ion-content {
  --background: none;
  background: url('/assets/img/fondo.jpg') no-repeat center center / cover;
}

.img {
  margin-left: 9%;
  margin-top: 30%;
}

h1 {
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h5 {
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.slide-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

