<ion-header [style.--background]="colorSlideActual">
  <ion-toolbar [style.--background]="colorSlideActual">
    <ion-buttons slot="end">
      <ion-button (click)="cambiarColorSlide()" fill="clear" color="primary">
        <ion-icon slot="icon-only" [name]="iconoActual"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="goBack()" fill="clear" color="primary">
        <ion-icon slot="icon-only" [name]="code"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="colorSlideActual" >

  <swiper-container pagination="true" loop="true" slides-per-view="1" >
    <swiper-slide *ngFor="let genre of genres; let i = index">
      <div class="slide-content">
        <img class="img" [src]="genre.image" [alt]="genre.title">
        <h1 class="ion-text-uppercase ion-text-center" [style.color]="colorTituloActualSlide">
          {{ genre.title }}
        </h1>
        <h5 class="ion-text-center ion-text-wrap" [style.color]="colorLetrasActualSlide">
          {{ genre.description }}
        </h5>
      </div>

      <div class="slide-footer" *ngIf="i === genres.length - 1">
        <ion-button class="ion-button-Home" shape="round" size="large" fill="solid" color="primary" (click)="goBack()">
          <ion-icon name="home" slot="start"></ion-icon>
          Home
        </ion-button>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>