<ion-header [style.--background]="colorSlideActual">
  <ion-toolbar [style.--background]="colorSlideActual">
    <ion-title [style.--color]="colorTituloActualSlide">Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cambiarColorSlide()" fill="clear" color="primary">
        <ion-icon slot="icon-only" [name]="iconoActual"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goIntro()" fill="clear" color="primary">
        <ion-icon slot="icon-only" [name]="code"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="colorSlideActual">


</ion-content>