// .slide-content {
//   text-align: center;
//   margin: 10px;
// }

// .slide-content img {
//   width: 100%;
//   max-width: 300px;
//   height: auto;
//   border-radius: 10%;
//   margin:  10% 0;
// }

// .slide-content h2 {
//   font-size: 25px;
//   margin:  0;
//   color: rgb(98, 198, 245);
// }


// .slide-content p {
//   font-size: 16px;
//   color: #e4dfdf;
//   text-align: justify;
// }

// .card{ 
//   padding: var(--espaciado-base);
//   background-color: var(--color-claro);
// }

// .bg-card-text{
//   background-color: rgb(231, 34, 142);
// }

.music-content {
  --background: linear-gradient(180deg, #050505, #0c0f14, #020202);
}

/* HEADER */
.music-header {
  backdrop-filter: blur(10px);
}

.music-toolbar {
  --background: rgba(0,0,0,0.4);
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.music-title {
  font-weight: 700;
  letter-spacing: 1px;
}

/* SWIPER */
.music-swiper {
  margin-top: 20px;
}

/* CARD */
.music-card {
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(20px);
  border-radius: 25px;
  padding: 15px;
  box-shadow: 0 0 40px rgba(0,255,255,0.08);
  transition: all 0.4s ease;
}

.music-card:hover {
  transform: scale(1.03);
}

/* IMAGE */
.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.image-container img {
  width: 100%;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
}

/* INFO */
.music-info {
  text-align: center;
  padding: 15px 10px;
}

.music-info h1 {
  color: #aaa;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px 0 5px;
}

.music-info p {
  color: #aaa;
  font-size: 0.9rem;
  margin-bottom: 12px;
}

/* PLAY BUTTON */
.play-btn {
  --background: linear-gradient(135deg, #00f5ff, #00bcd4);
  --color: #000;
  font-weight: 700;
  box-shadow: 0 20 20px rgba(0,255,255,0.4);
}

/* INTRO FAB */
.intro-fab {
  position: fixed;
  bottom: 25px;
  right: 20px;
  z-index: 10;
}

.intro-fab ion-button {
  --background: linear-gradient(135deg, #00ffc3, #00bcd4);
  --color: #000;
  font-weight: 700;
  box-shadow: 0 0 30px
    rgba(0, 255, 255, 0.6);
}

.ion-footer{
  --background: linear-gradient(135deg, #00ffc3, #00bcd4);
}

.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.custom-pagination span {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-pagination span.active {
  background: white;
  transform: scale(1.3);
}

.filter-toolbar {
  --background: #000;
}

ion-segment {
  --background: #000;
}

ion-segment-button {
  --color: #aaaaaa;
  --color-checked: #000;
  border-radius: 20px;
  margin: 4px;
}

.quick-access {
  padding: 10px;
}

.quick-card {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #222;
  border-radius: 8px;
  padding: 10px;
  color: white;
  margin-left: 20px;
}

.quick-card img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.quick-card.liked {
  background: linear-gradient(135deg, #4c00ff, #1144cf);
  padding: 10px;
  margin-left: 15px;
}

.section-title {
  color: white;
  font-weight: bold;
  padding: 10px;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 12px;
}

.album-card {
  min-width: 150px;
  cursor: pointer; /* importante */
  transition: transform 0.2s ease;
}

.album-card:active {
  transform: scale(0.96);
}

.album-card img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
}

.album-name {
  font-weight: bold;
  margin: 4px 0 0;
}

.album-artist {
  font-size: 12px;
  color: #aaa;
}

ion-footer {
  background: #111;
}

ion-progress-bar {
  --progress-background: #333;
  --progress-color: #1db954;
}

ion-footer ion-icon {
  font-size: 22px;
}

.user-name {
  color: #aaa;
  font-size: 16px;
  margin: 0;
  padding-left: 12px;
}

