.slide-content {
  text-align: center;
  margin: 10px;
}

.slide-content img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10%;
  margin:  10% 0;
}

.slide-content h2 {
  font-size: 25px;
  margin:  0;
  color: rgb(98, 198, 245);
}


.slide-content p {
  font-size: 16px;
  color: #e4dfdf;
  text-align: justify;
}

